* {
    margin: 0;
    box-sizing:border-box ;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #logo{
    background-image: url(../img/logo\ copia.png);
    margin-left: 15px;
    margin-bottom: 10px;
   background-repeat: no-repeat;
   border-bottom-style: solid;
   border-bottom-color: #C5CBD0;
   border-bottom-width: 1px;
  }
  h1{
   vertical-align: top;
   margin-left: 55px;
  }
  .container{
    padding-left: 22%;
    padding-top: 5%;
    
  }
  .bt{
    color: white;
    background-color:#47ADF1 ;
    width: 72px;
    height: 25px;
    border-radius: 5px;
    border-color: grey;
  }
  button{
    color: #C5CBD0;
    height: 25px;
    width: 100px;
    border-radius: 5px;
  }
  #mh{
    /*border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #C5CBD0;
    border-bottom-style: solid;
    border-bottom-color: #C5CBD0;
    

  }