* {
    margin: 0;
    box-sizing:border-box ;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#F6F8F9;
    padding-bottom: 20px;
    
  }
  #top-header{
    background-color: white;
    padding-bottom: 10px;
    
  }
  #logo{
    background-image: url(../img/logo\ copia.png);
    margin-left: 15px;
    margin-bottom: 10px;
   background-repeat: no-repeat;
  
  }
  .button2{
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 190px;
    margin-right: 190px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #f6f8f9;
    border-bottom-width: 2px;
    
  }
  h1{
   vertical-align: top;
   margin-left: 55px;
  }
  .container{
    padding-left 
    
    
  }
  .bt{
    color: white;
    background-color:#47ADF1 ;
    width: 72px;
    height: 25px;
    border-radius: 5px;
    border-color: grey;
    border: none;

  }
  button{
    color: #C5CBD0;
    height: 25px;
    width: 100px;
    border-radius: 5px;
  }
  .badge{
    background-color:#47ADF1 ;
    padding: 10px 20px;
    border-radius: 17px;
    border-color: grey;
    border: none;
    color: white;
    margin-left: 10px;
}

.spazio{
    
    margin-top: 70px;
    
    
}
#badge-viola{
    background-color:#9C72E4 ;
    padding: 10px 20px;
    border-radius: 17px;
    border-color: grey;
    border: none;
    color: white;
    margin-left: 10px;
}
#badge-verde{
    background-color:#64C0A9 ;
    padding: 10px 20px;
    border-radius: 17px;
    border-color: grey;
    border: none;
    color: white;
    margin-left: 10px;
}
#badge-arancione{
    background-color:#F29E33 ;
    padding: 10px 20px;
    border-radius: 17px;
    border-color: grey;
    border: none;
    color: white;
    margin-left: 10px;
}
#badge-rosa{
    background-color:#D863A0 ;
    padding: 10px 20px;
    border-radius: 17px;
    border-color: grey;
    border: none;
    color: white;
    margin-left: 10px;
}
#badge-verde-chiaro{
    background-color:#B0C926;
    padding: 10px 20px;
    border-radius: 17px;
    border-color: grey;
    border: none;
    color: white;
    margin-left: 10px;
}